#casestudy #banner .container-fluid {
    height: 500px;
    background-color: $brand-grey-40;

    @include media-breakpoint-down(lg) {
        height: 400px;
    }

    @include media-breakpoint-down(sm) {
        height: 300px;
    }
}

#casestudy #banner .wrap {
    border: 5px solid $brand-white;
    padding: 5px;
    width: 560px;
    position: relative;
    top: 130px;
    left: 30px;

    @include media-breakpoint-only(md) {
        left: 0;
        margin: 0 auto;
    }

    @include media-breakpoint-down(sm) {
        position: static;
        width: 100%;
        border: none;
        padding: 0;
        margin-bottom: 30px;
    }
}

#casestudy #banner .title {
    margin-top: 100px;
}

#casestudy #banner .text {
    width: 100%;
    background-color: $brand-white;
    padding: 30px 40px;

    @include media-breakpoint-down(sm) {

        padding: 0;
        width: auto;
    }
}


#casestudy #banner .text h2 {
    font-family: $font-patua-one;
    font-size: 3.125rem;

    @include media-breakpoint-down(lg) {
        font-size: 2.75rem;
    }
}

#casestudy #banner .text h3 {
    font-weight: 700;
    font-size: 1.25rem;
    color: $brand-grey-40;
    font-family: inherit;

    @include media-breakpoint-down(sm) {
        margin-top: 20px;
    }
}

#casestudy #banner .text a {
    color: inherit;
    text-decoration: none;
}

#casestudy #banner .text .tags {
    font-size: .875rem;
    color: $brand-grey-50;
    margin-top: 20px;
}

#casestudy #banner .text .tags .seperator {
    color: $brand-grey-20;
    padding: 0 3px;
}

#casestudy .section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#casestudy .section.dark {
    background-color: $brand-grey-20;
}

#casestudy .section.light {
    background-color: $brand-grey-10;
}

#casestudy .section.last {
    padding-bottom: 100px;
}

#casestudy .section h4 {
    @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
    }
}
#casestudy .section .container{
	@include media-breakpoint-down(sm) {
        padding-left:0;
        padding-right:0;
    }
}
#casestudy #next .container{
	padding-left:100px;
	padding-right:100px;
	    @include media-breakpoint-only(lg) {
	padding-left:75px;
	padding-right:75px;
  }
      @include media-breakpoint-only(md) {
	padding-left:50px;
	padding-right:50px;
  }
  @include media-breakpoint-down(sm) {
	padding-left:15px;
	padding-right:15px;
  }
}
#casestudy #next .projectGroup{
  padding-bottom:133px;
  padding-top:133px;
      @include media-breakpoint-only(lg) {
padding-bottom:112px;
  padding-top:112px;
  }
      @include media-breakpoint-only(md) {
padding-bottom:83px;
  padding-top:83px;
  }
  @include media-breakpoint-only(sm) {
padding-bottom:61px;
  padding-top:61px;
  }
    @include media-breakpoint-only(xs) {
padding-bottom:40px;
  padding-top:40px;
  }
}
#casestudy #next .projectGroup .text{
  padding-left:50px;
    @include media-breakpoint-only(lg) {
padding-left:35px;
  }
      @include media-breakpoint-only(md) {
padding-left:25px;
  }
  @include media-breakpoint-down(sm) {
padding-left:15px;
padding-right:15px;
  }
}

#casestudy #next .projectGroup .text h3{
font-family:$font-patua-one;
font-size: 2.625rem;
color:$brand-grey-80;
      @include media-breakpoint-only(lg) {
font-size: 2.125rem;
  }
      @include media-breakpoint-only(md) {
font-size: 1.75rem;
  }
        @include media-breakpoint-down(sm) {
font-size: 1.563rem;
  }
}
#casestudy #next .projectGroup .text h4{
font-weight:700;
font-size: 1.25rem;
color: $brand-grey-40;

font-family:inherit;
@include media-breakpoint-down(sm) {
margin-top:20px;
  }
}
#casestudy #next .projectGroup .text h5{
	font-family:$font-patua-one;
	font-size:1.75rem;
	color:$brand-blue;
}
#casestudy #next .projectGroup .text a{
    color:inherit;
  text-decoration:none;
}
#casestudy #next .projectGroup .text .tags{
font-size: .875rem;
color:$brand-grey-50;
margin-top:20px;
}

#casestudy #next .projectGroup .text .btn{
color:$brand-white;
border-radius:1px;
padding-left:20px;
padding-right:20px;
margin-top:40px;
}
#casestudy #next .projectGroup .image{
padding:0;
}
#casestudy #next .projectGroup .image img{
width:100%;
border-radius:1px;
}
#casestudy #next .projectGroup .image .inset{
    width: 320px;
    position: absolute;
    top: 80px;
    right: 40px;
    border:2px solid $brand-white;
    border-radius:1px;
    @include media-breakpoint-only(lg) {
width: 270px;}
@include media-breakpoint-only(md) {
width: 200px;}
  }
