$brand-white: #fefefe;
$brand-grey-10: #f8f8f8;
$brand-grey-20: #ededed;
$brand-grey-30: #d2d2d2;
$brand-grey-40: #a3a3a3;
$brand-grey-50: #868686;
$brand-grey-60: #696969;
$brand-grey-70: #4f4f4f;
$brand-grey-80: #363636;
$brand-grey-90: #222222;
$brand-black: #131313;
$brand-blue: #62A9D1;
$brand-blue-light:#D0E6F2;
$font-roboto: 'Roboto', sans-serif;
$font-muli: 'Muli', sans-serif;
$font-patua-one: 'Patua One', cursive;